
<p id="notice"><%= notice %></p>


  <%= image_tag(@idea.picture_url, :width => 600) if @idea.picture.present? %></p>
<p>
  <h1><strong>Name:</strong><%= @idea.name %></h1>
</p>

<p>
<h1><strong>Description:</strong><%= @idea.description %></h1>
</p>

  

<%= link_to 'Edit'.html_safe, edit_idea_path(@idea) ,  :class => "btn btn-warning "  %>
<%= link_to 'Back'.html_safe, ideas_path,  :class => "btn btn-primary"  %>
<%= link_to 'Destroy'.html_safe, @idea, method: :delete, data: { confirm: 'Are you sure?' } ,  :class => "btn btn-danger"  %>